@page "/Modelo"

@inject ModeloService modeloService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<PageTitle>Modelos</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title">Registro De Modelo</h5>
            <a href="/huacales/Create" class="btn btn-primary"><span class="bi bi-plus-square mt-3"></span>  Crear</a>
        </div>

        <div class="card-body">

            
            <div class="row">
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

           
            <div class="row align-items-center">
                
                <div class="col-3">
                    <InputSelect class="form-select" @bind-value="Filtro">
                        <option value="" selected disabled>Seleccione </option>
                        <option value="ModeloId">Id</option>
                    </InputSelect>
                </div>


               
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @*@onclick="Buscar" *@></button>
                    </div>
                </div>

              
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary bi bi-arrow-counterclockwise" @onclick="Restablecer"></button>
                </div>

                <table class="table table-hover">
                    <thead class="table table-striped text-black">
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var modelo in ListaModelos)
                        {
                            <tr>
                                <td>@modelo.ModeloId</td>
                                <td>@modelo.Fecha.ToString("dd/MM/yyyy")</td>


                                <td>
                                    <a href="/huacales/Edit/@modelo.ModeloId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>

        <div class="card-footer space-between">
            </div>
        </div>

</div>



<h3>ModeloIndexrazor</h3>

@code {
    private List<Registro> ListaModelos = new List<Registro>();
    private DateTime FechaIncio;
    private DateTime FechaFin;
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaModelos = await modeloService.Listar(e => e.ModeloId > 0);
    }

    private async Task Restablecer()
    {
        ListaModelos = await modeloService.Listar(e => e.ModeloId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }
}
